
body {
font-family:'Lato', sans-serif !important;
padding:0px;
margin:0px;

}
/* centrera knappen */
header {
    
    width:100%;
    background-color: #BA2C73;
    
}


main {
  /*  border-style: solid; */
    width:100%;
}
nav {
    
    font-family:'Lato', sans-serif !important;
    height:auto;
    Margin:auto;
    padding:10px 20px 10px 20px;
    Text-align: center; 
    
}


/* list in navbar */
nav ul {
    color: whitesmoke;
    padding:0px;
    
    
}

nav ul li {
    display: inline;
    padding:3vh;
    color:whitesmoke;
}



#div1 {
    background-color: #6D3B47;
    
    width: 100%;
    display:block;
}

/* styling på länkar */
a:link {
    color:whitesmoke;
    text-decoration: none;
}
a:visited {
    color:whitesmoke;
    text-decoration: none;
}

a:hover{
    color: #D85A99;
}

/* button that generates buttons */
#btn1 {
    background-color: #C6959D;
    color:#351D21;
    padding:30px;
    margin-top:10vh;
    margin-bottom:10vh;
    border-radius: 20px;
    border-width: 0px;
    font-family: "Lato", sans-serif;
    font-weight:normal;
    font-size: 2em;
    justify-content: center;
    width:auto;
}

/* button that clears all */
#clear-all {
    background-color: #2D3047;
    color:rgb(65, 65, 65);
    padding:30px;
    margin-top:10vh;
    margin-bottom:10vh;
    border-radius: 20px;
    border-width: 0px;
    font-family:'Lato', sans-serif;
    font-weight:normal;
    font-size: 2em;
    justify-content: center;
    width:auto;
}

/* Generell styling alla knappar (förutom btn1 & clear-all) */
button {
    background-color:#A5AECA;
    color:white;
    padding:20px;
    border-radius: 10px;
    border-width: 0px;
    font-family: 'Lato', sans-serif !important;
    font-weight: bold;
    font-size:20px;
    width:150px;
    margin:1vh;
}

#btn1:hover {
    background-color:rgb(48, 48, 48);
    color: ghostwhite;
    cursor: pointer;
  }

button:hover {
    background-color:rgb(48, 48, 48);
    color: ghostwhite;
    cursor: pointer;
  }
  
#div1 {
    background: url(mountain.jpg);
    background-size: cover;
    /* border-style: solid; */ 
    width:100%;
    text-align: center;
    padding-top:15vh;
    padding-bottom:15vh;
}

#btn-container {
    background-color:#453A49;
  
    /* border-style: solid; */
    
    width:100%;
    margin:0px;
    
}

#btn-container ul {
    padding:10vh;
    margin:0px;
    text-align: center;
}

#clear-all-container {
    background-color: #282F44;
    /* border-style: solid; */
    
    background-size: cover;
    width:100%;
    height:auto;
    float:none;
    text-align: center;
}

#clear-all {
    background-color: #ED217C;
    width:auto;
    color:whitesmoke;
    margin-bottom: 100vh;
}

#clear-all:hover {
    background-color: violet;
}

@font-face {
        font-family: 'lato' sans-serif;
        font-style: normal;
        font-weight: 400;
        src: url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&display=swap") format("woff");
    }
